<html>
<head>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<style type="text/css">
div[id^=app] {
	border: 1px dashed red;
	margin-bottom: 10px;
}

/* 开始过渡阶段,动画出去阶段 */
.fade-enter-active,.fade-leave-active{
  transition: all 0.5s ease-out;
}
/* 进入开始 */
.fade-enter{
  transform: translateY(-500px);
  opacity: 0;
}
/* 出去终点 */
.fade-leave-active{
  transform: translateY(500px);
  opacity: 0;
}
</style>
</head>
<body>
<div id="app">
	{{ message }}
</div>
<div id="app2">
	<span v-bind:title="message">
		鼠标悬念几秒钟查看此处动态绑定的提示信息！
	</span>
</div>
<div id="app3">
	<button onclick="Vue.set(app3, 'seen', !app3.seen)">切换显示</button>
	<transition name="fade">
		<p v-if="seen">现在你看到我了。</p>
	</transition>
</div>
<div id="app4">
	<ol>
		<li v-for="todo in todos">
			{{ todo.text }}
		</li>
	</ol>
</div>
<div id="app5">
	<p>{{ message }}</p>
	<button v-on:click="reverseMessage">逆转消息</button>
</div>
<div id="app6">
	<p>{{message}}</p>
	<input v-model="message">
</div>
<div id="app7">
	<ol>
		<todo-item
			v-for="item in groceryList"
			v-bind:todo="item"
			v-bind:key="item.id"
		></todo-item>
	</ol>
</div>

<script type="text/javascript">
	var app = new Vue({
		el: '#app',
		data: {
			message: 'Hello vue!'
		}
	});

	var app2 = new Vue({
		el: '#app2',
		data: {
			message: '页面加载于' + new Date().toLocaleString()
		}
	});

	var app3 = new Vue({
		el: '#app3',
		data: {
			seen: true
		}
	});

	var app4 = new Vue({
		el: '#app4',
		data: {
			todos: [
				{text: '学习javascript'},
				{text: '学习vue'},
				{text: '整个牛项目'}
			]
		}
	});

	var app5 = new Vue({
		el: '#app5',
		data: {
			message: 'Hello Vue.js'
		},
		methods: {
			reverseMessage: function() {
				this.message = this.message.split('').reverse().join('');
			}
		}
	});

	var app6 = new Vue({
		el: '#app6',
		data: {
			message: "Hello Vue!"
		}
	});

	Vue.component('todo-item', {
		props: ['todo'],
		template: '<li>{{todo.text}}</li>'
	})
	var app7 = new Vue({
		el: '#app7',
		data: {
			groceryList: [
				{id:0, text:'蔬菜'},
				{id:1, text:'奶酪'},
				{id:3, text:'随便其它什么人吃的东西'}
			]
		}
	});
</script>
</body>
</html>